.select_countries_container{
    margin-top: 30px;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
}

.ContainRenders{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.RenderSelectedCountries{
    padding-left: 59px;
}

.select_countries_container > div:nth-of-type(1){
    padding-right: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.select_countries_container > div:nth-of-type(2){
    padding-right: 125px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.select_countries_container > div:nth-of-type(3){
    grid-column: 3/4;
    grid-row: 1/2;
}

.search_container{
    background-color: #fff;
    border-radius: 100px;
    padding: 8% 0;
    width: 320px;
}

.selectedCountries{
    
    background-color: #fff;
    border-radius: 100px;
    padding: 8% 0;
    width: 320px;
    text-align: center;
}

.submit_buttom{
    margin-left: 50px;
    background-color: rgb(30, 139, 85);
    border-bottom-style: solid;
    border: #000; border-radius: 20px;
    padding: 20px 40px 20px 40px;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.submit_buttom:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size:large;
    text-decoration-line: underline;
    background:slategrey;
    border-color: rgb(112, 10, 10);
}

/*--------------------------------- ADD COUNTRIES --------------------------------- */

.containerCountries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.containerCountries li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #fff;
    border: transparent; border-radius: 100px;
    max-width: 12rem; /* padding: 3px 3px 3px 3px; */
    max-height: 5rem;
    min-width: 8rem;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 1rem ;
    padding-right: 1rem;
    margin-right: 4rem;
}

.button_container{
    display: inline-block;
    background: rgb(32, 117, 143);
    width: 35px;
    height: 35px;
    border-radius: 100%;
 }
    

.add_button{
    margin: -10% 0;
    border: transparent;
    background: transparent;
    font-size: 35px;
}


/*---------------------------------  REMOVE STYLES --------------------------------- */

.countries_remove{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.countries_remove li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #fff;
    border: transparent; border-radius: 100px;
    max-width: 12rem; /* padding: 3px 3px 3px 3px; */
    max-height: 5rem;
    min-width: 8rem;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 1rem ;
    padding-right: 1rem;
    margin-right: 15rem;
}

.button_container_remove{
    display: inline-block;
    background: rgb(134, 21, 21);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: #000;
}

.remove_button{
    margin: -10% 0;
    border: transparent;
    background: transparent;
    font-size: 35px;
    transform: translateY(-2.1px);
}

/*---------------------------------  CREATE ACTIVITY OPTIONS --------------------------------- */

.create_activity_options{
    display: grid;
    border: 4px solid black;
    background-color: white;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.create_activity_options > div {
    display: flex;
    align-items: center;
}

.title{
    grid-column: 1/5;
    font-size: 30px;
    font-weight: 800;
}

.create_activity_options div:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_activity_options div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_activity_options div:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_activity_options div:nth-of-type(4){
    display: flex;
    justify-content: center;
    align-items: center;
}

.options_container{
    user-select: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px; 
    text-align: center;
    color: #000;
    resize: none;
    outline: none;
}


.searcher_container{
    user-select: none;
    width: 150px;
    height: 25px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px;
    margin-left: 5px; 
    color: rgb(0, 0, 0);
    resize: none;
    outline: none;
}

.create_activity_options label{
    user-select: none;
    display: inline-block;
    margin-right: -5px;
    height: 30px;
    color: #fff;
    background: rgb(181, 3, 3);
    border: grey;
    width: 130px;
    border-radius: 5px;
}

/*
.create_activity_options{
    margin-right: 20px;
}

.first_search{
    width: 150px;
    height: 27px;
    transform: translateY(2.7px);
}


.second_search{
    width: 150px;
    height: 28px;
    transform: translateX(10px);
    transform: translateY(2.5px);
}


.first_option{
    width: 150px;
    height: 31.29px;
    transform: translate(-28px, 2.2px);
}

.second_option{
    width: 150px;
    height: 30px;
    transform: translate(-30px, 1.8px);
} */


/*-----------------------------MEDIA JQUERYS--------------------------------*/

@media (max-width: 800px) {
    .first_search {
    height: 28px;
      font-size: 12px;
      transform: translateY(1px);
      width: 120px;
      margin-right: 90px;
    }
    .first_option{
        height: 30px;
        font-size: 12px;
        width: 120px;
        transform: translateY(3px);
        transform: translateX(-20px);
        margin-right: 70px;
    }


    .second_search{
        font-size: 12px;
        width: 120px;
        height: 28px;
        transform: translateY(1px);
        margin-right: 90px;
    }

    .second_option{
        margin-top: -10px;
        margin-right: 70px;
        font-size: 12px;
        width: 120px;
    }

  }

  @media (max-width: 800px) {
    .label_search{
        transform: translateX(6%);
    }

    .create_button_container{
        transform: translateX(20%);
    }
  }

  @media (max-width: 1200px) {
    .label_search{
        transform: translateX(6%);
    }

    .create_button_container{
        transform: translateX(15%);
    }
    .countries_add li{
        transform: translateX(7%);
    }
  }