.ContainCountries{
    align-content: center;
    
}

.ContainGrid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12.5px;
}

.ContainGrid > li{
    
    display: flex;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba(150, 150, 150, 0.18);
    list-style: none;
    padding: 10px;
    text-align: center;
    grid-column: span 2;
    justify-content: center;
    max-width: 340px;
    transition: 0.75s;
}

.ContainGrid > li:hover{
    background: rgba(216, 216, 216, 0.15);
    box-shadow: 0 8px 32px 0 rgba(185, 185, 189, 0);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );border-radius: 10px;
}

.Link {
     
    background-color: rgba(255, 255, 255, 0.301); 
    margin-right: 2rem;
}
.Link:hover{
    background-color: rgba(123, 10, 10, 0.278); 
}

.card > p{
        display: flex;
    flex-wrap: wrap;
    color:black
    
}

.text{
    
    -webkit-text-stroke: thin;
    text-decoration-line: underline;
    place-content: center;
    max-width: 300px;
}






